/* src/index.css */

:root {
  --bg-sheet: #ffffff;
  --text: #222;
  --primary: #5a00cc;
  --primary-hover: #7a33dd;
}

[data-theme='dark'] {
  --bg-sheet: #1e1e1e;
  --text: #f1f1f1;
  --primary: #8b5cf6;
  --primary-hover: #a78bfa;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-sheet);
  color: var(--text);
  transition: all 0.3s ease;
}
